/*start reset*/
*{
	margin: 0px;

}
/*stop reset*/
/*start body*/
.contaier{
	position: relative;
	width: 1080px;
	height: 1000px;

}
/*start header-top*/
.main-header{
	
	width: 100%;
	height: 150px;
}
.img-logo{
	margin-left: 30px;
	float: left;
	
	width: 85px;
	height: 123px;
	background-image: url('../img/logo.png');
}

.CompanyName{
	display: inline-block;
	float:left;
	position: relative;
	padding-left: 40px;
}
.CompanyName h1{
	position: relative;
}
.find-header{
	position: relative;
	float: left;
	margin-left: 40px;
	margin-top:30px ;

}
#find{
	width: 500px;
	height:auto;
	border-radius: 5px;
	border: none;
	padding: 12px 12px 13px 12px;
	border: 1px solid black;
}
.card{
	position: relative;
	float:left;
	top: 30px;
}
.loginUl{
	position: relative;
	display: inline-block;

}

.loginUl li{
	position: relative;
	display: inline-block;
	list-style: none;
}


.autification a{
	text-decoration: none;
	color: black;
}
.cardimg{
	padding-top: 15px;
	color: black;
	display: inline-block;
	position: relative;
	left: 100px;

}
/*end header-top*/
/*start main*/
.main-top{
	width: 100%;
	display: inline-block;
	position: relative;
	justify-content: space-around;

}
.menu-nav{
	text-align: center;
	background-color: lightgreen;

}
.menu-nav li{

	font-weight: 700;
	font-size: 20px;
	display: inline-block;
	justify-content: space-between;
	margin: 0 auto;
	margin: 10px 20px;
	text-transform: uppercase;


}
.menu-nav li a{
	text-decoration: none;
	color: black;

}
.searchI{
	display: inline-block;
	position: absolute;
	top:14px;
	right: 12px;
}